# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Modèles ML (gros fichiers)
*.pkl
*.npy
*.npz

# Environnement
.env
.env.local

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/